.nav-top
{
	background-color: #fff;
	height: 55px;
}
.nav-top ul
{
	list-style: none;
}
.nav-top ul li
{
	float: left;
	padding-top: 15px;
}
.nav-top ul li a
{	
	padding: 0 30px;
	border-right: 2px dashed #7f7f7f;
	color: #9f9f9f;
	font-weight: bold;
	font-size: .9em;
	text-decoration: none;
	text-transform: uppercase;
}
.nav-top ul li .input-group
{
	margin-top: -1%;
}
.form-search
{
	border: 1px solid #ccc;
	box-shadow: none;
}
.form-search:active,
.form-search:focus
{
	box-shadow: none;
}
.header
{
	background-color: #dedede;
}
.header ul
{
	list-style: none;
}
.header ul li
{
	padding: 15px 0;
	float: left;
}
.header ul li a img
{
	width: 100px;
}
.header:after{
	content: "";
	clear: both;
	display: table;
}
.header ul .call-logs
{
	float: right;
}
.header ul .call-logs li
{
	padding-left: 20px;
	text-align: center; 
}
.header ul .call-logs li a
{
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.1em;
	color: #898989;
}
.header ul .call-logs li a div
{
	font-size: .7em;
}
.owl-carousel .item .text-slider
{
	background-color: rgba(244,197,150,.4);
	/*background: -webkit-linear-gradient(left,#EDD0AC,#fff);
	opacity: .4;*/
}
.owl-carousel{
	box-shadow: none;
	background: #fff;
}
.owl-wrapper-outer{
	border-radius: none;
	border: none;
	box-shadow: none;
}
.text-slider
{
	position: absolute;
	padding-top: 3%;
	padding-left: 10%;
	min-width: 1366px;
	height: 400px;
}
.text-slider h3
{
	text-align: left;
	text-transform: uppercase;
	font-size: 3em;
	font-weight: bold;
}
.text-slider h4
{
	color: #fff;
	text-align: left;
}
.plus
{
	margin-top: -1.5%;
	background-color: #f8f8f8;
	padding: 20px 0;
	border-bottom: 2px solid #eee;
}
.plus .container .col-md-3
{
	margin-left: 60px;
}
.plus .container .col-md-3 .col-xs-7
{
	background-color: #A3D39C;
	color: #fff;
	position: absolute;
	z-index: 9999;
	height: 100%;
}
.plus .container .col-md-3 .col-xs-7 h3
{
	font-size: 1.5em;
}
.plus .container .col-md-3 .col-xs-7 h4
{
	font-size: 1em;
}
.plus .container .col-md-3 .col-xs-5
{
	border: 1px solid;
}
.text-green
{
	color: #7DCE88;
	font-weight: bold;
}
.content .col-xs-3 h3
{
	margin-top: -1.8%;
}
.content
{
	min-height: 40px;
}
footer
{
	background-color: #ebebeb;
	padding-top: 1%;
}
/*.container .news .col-md-9,
.container .news .col-md-3,
.container .news .col-md-12
{
	background-color: #fff;
}*/
.f
{
	box-shadow: 0 0 7px #aaa;
	background-color: #fff;
	margin-bottom: 10px;
}
.content-right .a
{
	padding: 10px 0;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}
.content-right ul{
	list-style: none;
}
.content-right ul li
{
	margin-bottom: 20px;
}
.content-right ul li h4 a{
	font-weight: bold;
	color: #000;
	font-size: .8em;
}
table tr td
{
	padding: 5px;
}
table tr td .form-control
{
	border: 1px solid #bbb;
	background-color: #bbb;
}
.nav-green
{
	background-color: #197B30;
}
.nav-green:after
{
	clear: both;
	content: "";
	display: table;
}
.nav-green ul{
	margin: 0 5%;
	list-style: none;
}
.nav-green ul li
{
	float: left;
	padding: 14px;
}
.nav-green ul li a{
	padding-right: 25px;
	color: #fff;
	text-transform: uppercase;
}
.nav-green ul li .active
{
	font-weight: bold;
}
.pagination .active a
{
	background-color: #197B30
}
.pagination .active a:hover
{
	background-color: #197B30
}
.pagination li a
{
	border-radius: 100%;
}
.pagination li:first-child a
{
	border-radius: 100%;
}
.pagination li:last-child a
{
	border-radius: 100%;
}